<!DOCTYPE html>

<head>
  <meta charset="UTF-8">

  <title>Stock Data Dashboard</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <!-- NAVIGATION BAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Stock Analysis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/scrape">Scrape News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- BACKGROUND IMAGE -->
  <div class="container">
    <img src= "../static/img/background-splash.png">
  </div>
<!-- FORM CONTAINER -->
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<form method="POST" action="/getStock" role="form" name="stockFinder">
  <div class="form-group">
    <label for="stockInput">Stock</label>
    <input type="text" class="form-control" id="stockInput" name="stock" placeholder="Enter a stock">
  </div>
  <button id="submit" type="submit" class="btn btn-default">Plot Stock</button>
</form>
</div>
</div>
</div>





    <!-- <form method="POST" action="/getBook" role="form", name="bookInfo">
      <div class="form-group">
          <label for="inputTitle">Book Title</label>
          <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Name">
      </div>
      <button type="button" class="btn btn-light">
      <input type="submit" value="Submit" class="btn btn-default">
      </button>
  </form> -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br>
        <h2>Latest Buzz</h2>

      </div>
  
  
        
      <div class="container">
        <div class="row">
			    <div class="col-md-12">
            <h2>Featured Stock</h2>
                <div id="plot">
             
                <h1>{{ query_new.stock }}</h1>
                
                <h4>CandleStick</h4>
                <img src= "{{ query_new.ohlc_mpf }}" style='height: 50%; width: 100%; object-fit: contain'>
                
                <h4>High,Low,Close</h4>
                <img src= "{{ query_new.ocl }}" style='height: 50%; width: 100%; object-fit: contain'>

                <h4>Volume by Weekly</h4> 
                <img src= "{{ query_new.wkly_vol }}" style='height: 50%; width: 100%; object-fit: contain'>

                <h4>10,40 Week MVA</h4>
                <img src= "{{ query_new.week_ma }}" style='height: 50%; width: 100%; object-fit: contain'>

                <h4>5 Day MVA</h4>
                <img src= "{{ query_new['5dmva'] }}" style='height: 50%; width: 100%; object-fit: contain'>
              
                <h4>20 Day MVA</h4>
                <img src= "{{ query_new['20dmva'] }}" style='height: 50%; width: 100%; object-fit: contain'>

            </div>
          </div>

             
           
    </div>
  </div>          







  <div>
    <h3> Stock Single Charts</h3>
    <br>
    <hr>


  </div>

  <!-- {% for x in query_mars %} -->
  <div class="container">
    <div class="row">
        <div class="col-md-3" id="plot1">
          <!-- <img src= "" style='height: 50%; width: 50%; object-fit: contain'> -->
        </div>
        <div class="col-md-3" id="plot2">
          <img src= "" style='height: 50%; width: 50%; object-fit: contain'>
        </div>
        <div class="col-md-3" id="plot3">
          <img src= "" style='height: 50%; width: 50%; object-fit: contain'>
        </div>
        <div class="col-md-3" id="plot4">
          <img src= "" style='height: 50%; width: 50%; object-fit: contain'>
        </div>
    </div>
</div>
  <!-- {% endfor %} -->
  

  
  
  
          


       

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
  <script src="../static/js/plots.js"></script>     
  <!-- <script src="../static/js/app.js"></script>        -->
    
  <svg id="container"></svg>




  <div class="container">
    <div class="row">
        <div class="col-md-3" id="plot1">
          <!-- <img src= "" style='height: 50%; width: 50%; object-fit: contain'> -->
        </div>
        <div class="col-md-3" id="plot2">
          <img src= "" style='height: 50%; width: 50%; object-fit: contain'>
        </div>
        <div class="col-md-3" id="plot3">
          <img src= "" style='height: 50%; width: 50%; object-fit: contain'>
        </div>
        <div class="col-md-3" id="plot4">
          <img src= "" style='height: 50%; width: 50%; object-fit: contain'>
        </div>
    </div>
</div>



  <footer>
    <div>Stock Analysis: BootCamp 2020</div>

  </footer>
</body>
</html>

